node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.coverage.*
.cache
.parcel-cache
.next
.nuxt
dist-ssr
*.local
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 